/*typo*/
.title_section{
  margin: 15px;
  font-size: 25px;
}
.img_h200{
  height: 200px;
}
.img_h250{
  height: 250px;
}
.img_circle{
  padding: 20px;
  border-radius: 50%;
  background-color: #3c98bc;
}
/*container*/
.container.color_dae4e8{
  background-color: #dae4e8;
}
.container.line-height_40{
  line-height: 40px;
}
.container.margin_top_100{
  margin-top: 100px;
}
.container.padding_20{
  padding: 20px;
}
/*media query md*/
@media screen and (max-width: 992px) and (min-width: 768px){

  .img_h250 {
    float: left;
    margin: 10px;
    }
  .text_left {
    margin-left: 10px;
    text-align: left;
    color: #3c98bc;
    }
  .font_25{
    font-size: 25px;
    }
  .container.border_red{
    border: 5px solid red;
    border-radius: 5px;
    }
  .title_section{
    margin-bottom: 20px;
    text-transform:uppercase;
    font-size: 35px;
  }
  .second-title{
    font-size: 30px;
    color: red;
    }
  }
  @media screen and (max-width: 768px) {
    .container{
      background-color: #c1eaad;
    }
    .display-none{
      display: none;
    }
    .title_section{
      font-size: 35px;
      color: red;
    }
    .second-title{
      margin: 20px;
      font-size: 25px;
      text-transform: uppercase;
      color: green;
    }
    .line_height_30_xs{
      line-height: 30px;
    }
    .font_xs_20{
      font-size: 20px;
      font-weight: bold;
    }
  }
